version: '3.7'

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    image: better-battlebit-api
    restart: unless-stopped
    links:
      - mongo
      - redis
    depends_on:
      - mongo
      - redis
    environment:
      - MONGO_URI=mongodb://root:REPLACE_ME@mongo:27017
      - REDIS_URI=redis://redis:6739
      - HOST=0.0.0.0
      - PORT=8080
    ports:
      - 8080:8080

  mongo:
    image: mongo
    restart: unless-stopped
    volumes:
      - ./data/mongodb:/data/db
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=REPLACE_ME

  redis:
    image: redis
    restart: unless-stopped
    volumes:
      - ./data/redis:/data
    ports:
      - 6739:6739